@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: blue;
}
#container{
    background-color: white;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
}
#qr-header { 
    text-align: center;
} 